/* colors */
:root {
  --black-1: #111;
  --black-2: #222;
  --black-3: #333;

  --grey-1: #777;
  --grey-2: #888;
  --grey-3: #999;

  --btn-bs: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /* padding: 3rem; */
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "main   main   main"
    "footer footer footer";
    background: #eee;
    background-image: url(./img/dot-grid.png);
    background-blend-mode: multiply;
}

#main-header {
  grid-area: header;
  /* background: red; */
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0,0,0,0.2);
}

main {
  grid-area: main;
  /* background: blue; */
  margin: 0 auto;
  margin-top: 70px;
  max-width: 1200px;
  padding: 0.5rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  min-height: 50px;
  background: plum;
}


/* general headings, p ,button, etc */
.row-section {
  margin-bottom: 1rem;
}

h1 {
  color: var(--black-3);
  font-size: 3rem;
}
.sub-title {
  margin-bottom: 1rem;
  color: var(--black-2);
}

.btn {
  padding: 0.5rem 1rem;
  background: var(--grey-3);
  border: 1px solid var(--grey-1);
  border-radius: 4px;
  box-shadow: var(--btn-bs);
}


/* navbar */
.logo-container {
  /* background: white; */
  align-self: center;
}
.logo {
  width: 30px;
  height: 30px;
  background: plum;
  border: 1px solid black;
  border-radius: 50%;
}
#navbar {
  /* display: block; */
  grid-area: header;
  display: flex;

  z-index: 100;
}
#navbar ul {
  margin-top: 20px;
  display: flex;
  /* background: yellow; */
  margin-left: auto;
}

/* #navbar ul li:not(:last-of-type) {
  margin-right: 20px;
} */

#navbar ul li {
  margin-right: 20px;
}

#navbar ul li a {
  transition: all 0.2s ease;;
  /* background: red; */
}
#navbar ul li a:hover {
  color: chartreuse;
}

/* main */

#welcome-section {
  background-color: rgba(190, 100,100, 0.5);
  background-image: url(./img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  /* clip-path: inset(5% 20% 15% 10%); */
  /* clip-path: polygon(51% 40%, 0% 100%, 100% 100%); */
  /* clip-path: polygon(0% 15%, 35% 19%, 15% 0%, 85% 0%, 73% 40%, 100% 15%, 100% 85%, 86% 51%, 85% 100%, 15% 100%, 56% 68%, 0% 85%); */
}
.main-title {
  text-align: center;
  padding-top: 3rem;
}

.tagline {
  display: block;
  font-size: 6rem;
  max-width: 300px;
  /* color: crimson; */
  color: black;
  text-transform: uppercase;
  text-align: left;
}

/* projects */
#projects {
  display: flex;
}
.project-card {
  flex: 1 1 30%;
  border: 1px solid black;
  margin-right: 1rem;
  padding: 1rem;
  background: white;
}

/*       blog     */
.blog-entries-container {
  /* background: red; */
  display: flex;
  justify-content: space-between;
}

.blog-entry {
  /* background: blue; */
  flex: 0 1 30%;
  border: 1px solid black;
  padding: 1rem;
}

.blog-entry__title {
  font-size: 2rem;
}
